/* ===== Root Variables ===== */
:root {
    --main-bg: #FFE7E6;
    --accent-bg: #FFFDE6;
    --border-color: #e4c58b;
    --form-color: white;
    --highlight: #D88989;
    --card-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    --video-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    --hero-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    --border-radius: 20px;
    --text-dark: #5c2b29;
    --bg-gradient: linear-gradient(135deg, #FFFDE6 0%, #FFE7E6 100%);
}

body {
    font-family: "Shantell Sans", cursive;
    color: var(--text-dark);
    background: var(--bg-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 50px;
}




.refus-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;



}

.click-button {
    margin-top: 40px;
    border: none;
    padding: 20px 40px;
    border-radius: var(--border-radius);
    background-color: var(--highlight);
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
    width: 60%;
    font-size: 30px;


}

.click-button:hover {
    background-color: var(--accent-bg);
    color: var(--text-dark);
    box-shadow: var(--card-shadow);
}

.container-button {
    display: flex;
    gap: 40px;
}